.ipynb_checkpoints
.jupyter
Text_files_copied_from_sacredbibledotorg
bible_file_creator.ipynb
Files/.~lock.CPDB_for_TTTB_from_program.csv#
tttb_hmdf_version.cpp
Catholic_Public_Domain_Bible/CPDB_for_TTTB_hmdf.csv
CMakeLists_for_module.txt
time_testing
time_testing.cpp
tttb_with_modules.cpp
typing_test_module.cpp
.vscode/tasks.json
typing_test_code_e.cpp
typing_test_code.cpp
testbed
variant_testbed.cpp
verse_to_word_testbed
.vscode/launch.json
.vscode/settings.json
unique_ptr_testbed.cpp
unique_ptr_testbed
verse_to_word_testbed_v2.cpp
_deps
CMakeFiles
CMakeCache.txt
cmake_install.cmake
build/tttb
Makefile
*_old*
*_older_*
*autosaved*
Files/Multiplayer
tttb_unique_ptr_example.cpp
unique_ptr_testbed_v2.cpp
dual_int_cin_test
dual_int_cin_test_via_try_catch
dual_int_cin_test_via_try_catch.cpp
dual_int_cin_test.cpp
for_loop_testbed
for_loop_testbed.cpp
Visualizations/Multiplayer/20250706T220148_string_highest_wpm_by_player.html
Visualizations/Multiplayer/20250706T220148_string_Mean_WPM_By_Player_And_Round.html
Visualizations/Multiplayer/20250706T220148_string_Mean_WPM_By_Player_And_Test.html
Visualizations/Multiplayer/20250706T220148_string_wins_by_player.html
